$border:1px solid black;
.myOrderContainer{

    width: 30%;
    padding: 10px;
    height: 80vh;
    margin-top: 3%;
    overflow: auto;
    .titleMyOrder{
        display: flex;
        margin-bottom: 40px;
        .arrow{
            font-size: 40px;
            cursor: pointer;
            transition: all 0.3s ease;
            border-radius: 90px;
            width: 45px;
            text-align: center;
            border: none;
         
            &:hover{
                text-shadow: 0 0 10px skyblue;
                box-shadow: 0 0 5px skyblue;
            }
            &:active{
                box-shadow: 0 0 5px red;
               }
        }
        h1{
            font-size: 25px;
            margin:auto;

        }
    }


}