@use './cardComponent/cardsContainers-scss/cardContent';
@use './ScssHome/contentTitleMain';
@use './ScssHome/productDitailAside';
@use './ScssHome/productOrderAside';

$border:1px solid black;


.containerHome{
    width: 100%;
    margin-top: 50px;
    position: relative;
    
    
    
    //@use contentTitleMain 
    
    
    
    .cardsContainer{
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 80%;
        margin: auto;
        gap: 5px;
      
            //@use cardContent 

            //productDitailAside
            //productOrderAside
      
    }  
    
}

@media ( max-width:1238px ) {
    .containerHome{

        margin-top: 20px;
        .cardsContainer{
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
        }  
        
    }
}
@media ( max-width:924px ) {
    .containerHome{
        
        margin-top: 20px;
        .cardsContainer{       
            padding:20px;
            justify-content: space-around;
            margin: auto;
            gap: 0;
            grid-template-columns:200px  200px ; 
        }  
        
    }
}