.navContentLeft {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 90%;
  text-align: center;
}
.navContentLeft div p {
  width: 100%;
}

@media (max-width: 1527px) {
  .navContentLeft div p {
    font-size: 13px;
  }
}
.navContentRight {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  text-align: center;
}
.navContentRight div p {
  width: 100%;
}

@media (max-width: 1527px) {
  .navContentRight div p {
    font-size: 13px;
  }
}
.cardContent {
  justify-self: center;
  width: -moz-min-content;
  width: min-content;
  border-radius: 8px;
}
.cardContent .contentFigure {
  position: relative;
  width: -moz-min-content;
  width: min-content;
  margin: 0;
  border-radius: 8px;
}
.cardContent .contentFigure img {
  max-width: 300px;
}
.cardContent .contentFigure .typeProducts {
  border-radius: 8px;
  padding: 0 5px 0 5px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.999);
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: rgba(0, 0, 0, 0.823);
  background-color: rgba(255, 255, 255, 0.686);
}
.cardContent .contentFigure .addProducts {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: rgba(128, 125, 125, 0.664);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.999);
  padding: 5px;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}
.cardContent .contentFigure .containerCheck {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.cardContent .contentFigure .containerCheck .checkProduct {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.999);
  background-color: rgba(27, 20, 20, 0.726);
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 100%;
  font-weight: bold;
  padding: 5px;
  width: 30px;
  right: 8px;
  top: 8px;
  margin: 8px;
  cursor: pointer;
  color: white;
  z-index: 0;
}
.cardContent .contentFigure .containerCheck .activeCheckProduct {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.999);
  background-color: rgba(27, 20, 20, 0.726);
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 100%;
  font-weight: bold;
  padding: 5px;
  width: 30px;
  right: 8px;
  top: 8px;
  margin: 8px;
  cursor: pointer;
  color: white;
  z-index: 12;
}
.cardContent .contentFigure .containerCheck .sumaProducts {
  transition: all 0.4s ease-in-out;
  padding: 40px 10px 10px 10px;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.cardContent .contentFigure .containerCheck .sumaProducts:hover {
  overflow: visible;
  opacity: 1;
}
.cardContent .contentFigure .containerCheck .sumaProducts .incrementDecrementContainer .increment {
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 90px;
  width: 23px;
  margin-top: 5px;
  box-shadow: 0 0 10px white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.cardContent .contentFigure .containerCheck .sumaProducts .incrementDecrementContainer .increment:hover {
  box-shadow: 0 0 5px rgba(6, 255, 6, 0.849);
}
.cardContent .contentFigure .containerCheck .sumaProducts .incrementDecrementContainer .decrement {
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px white;
  background-color: #ffffff;
  border-radius: 90px;
  width: 23px;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}
.cardContent .contentFigure .containerCheck .sumaProducts .incrementDecrementContainer .decrement:hover {
  box-shadow: 0 0 5px rgb(253, 41, 3);
}
.cardContent .contentFigure .active {
  background-color: rgba(0, 0, 0, 0.608);
  color: white;
}
.cardContent .contentFigure .imgProducts {
  border-radius: 8px;
  width: 250px;
  z-index: 2;
}
.cardContent .contentParagraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px;
}
.cardContent .contentParagraph .pirceProduct {
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 665px) {
  .cardContent .contentFigure .imgProducts {
    max-width: 150px;
  }
}
.contentTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.contentTitle .containerTitle {
  margin-bottom: 25px;
}
.contentTitle .containerTitle h1 {
  font-size: 42px;
  margin: 0;
  text-align: center;
}
.contentTitle .containerTitle p {
  margin: 0;
  text-align: center;
}
.contentTitle .formContent {
  width: 50%;
}
.contentTitle .formContent .inputProducts {
  width: 100%;
  border-radius: 8px;
  padding: 5px;
}

@media (max-width: 647px) {
  .contentTitle .containerTitle {
    margin-bottom: 15px;
  }
  .contentTitle .containerTitle h1 {
    font-size: 20px;
  }
  .contentTitle .containerTitle p {
    font-size: 15px;
  }
}
.productDitailAside {
  z-index: 33333;
}
.productDitailAside .asideContainerDitail {
  width: 25%;
  border: 2px solid #A8AFD3;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #A8AFD3;
  background: white;
  position: fixed;
  height: 80vh;
  top: 90px;
  right: 0;
  text-align: center;
}
.productDitailAside .asideContainerDitail .titleDitail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.productDitailAside .asideContainerDitail .titleDitail .symbolCLose {
  position: fixed;
  right: 10px;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 90px;
  width: 30px;
  padding: 5px;
  box-shadow: 0px 0px 7px black;
  cursor: pointer;
}
.productDitailAside .asideContainerDitail .productDitailContainer {
  padding: 20px;
}
.productDitailAside .asideContainerDitail .productDitailContainer .figureContainerDitail {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.productDitailAside .asideContainerDitail .productDitailContainer .figureContainerDitail .imgProductsDitail {
  width: 100%;
  border-radius: 8px;
}
.productDitailAside .asideContainerDitail .productDitailContainer .contentParagraphDitail {
  display: flex;
  flex-direction: column;
}
.productDitailAside .asideContainerDitail .productDitailContainer .contentParagraphDitail .pirceProductDitail {
  font-weight: bold;
  text-align: start;
  font-size: 35px;
  margin: 15px 0 10px 0;
}
.productDitailAside .asideContainerDitail .productDitailContainer .contentParagraphDitail .nameProductDitail {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
.productDitailAside .asideContainerDitail .productDitailContainer .contentParagraphDitail .descriptionDitail {
  text-align: start;
  margin: 0;
}
.productDitailAside .inactiveDitail {
  display: none;
}

@media (max-width: 1300px) {
  .productDitailAside .asideContainerDitail {
    width: 40%;
  }
}
@media (max-width: 668px) {
  .productDitailAside .asideContainerDitail {
    width: 50%;
    height: 80vh;
    overflow: scroll;
  }
  .productDitailAside .asideContainerDitail .productDitailContainer .figureContainerDitail {
    align-items: center;
  }
  .productDitailAside .asideContainerDitail .productDitailContainer .figureContainerDitail .imgProductsDitail {
    width: 100%;
  }
}
.productOrdersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.productOrdersContainer .figureContainerOrder {
  margin: 0;
}
.productOrdersContainer .figureContainerOrder .imgProductsOrder {
  width: 80px;
  border-radius: 8px;
}
.productOrdersContainer .contentParagraphOrder {
  display: flex;
  width: 100%;
  align-items: center;
}
.productOrdersContainer .contentParagraphOrder .nameProductOrder {
  width: 100%;
}
.productOrdersContainer .contentParagraphOrder .nameProductOrder h1 {
  font-weight: normal;
  text-align: center;
}
.productOrdersContainer .contentParagraphOrder .pirceProductOrder {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px 0 0;
}
.productOrdersContainer .contentParagraphOrder .pirceProductOrder .priceProduct {
  margin: 5px;
}
.productOrdersContainer .contentParagraphOrder .pirceProductOrder .eraseProduct {
  font-size: 25px;
  margin: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .productOrdersContainer {
    width: 100%;
  }
  .productOrdersContainer .contentParagraphOrder {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .productOrdersContainer .contentParagraphOrder .nameProductOrder > h1 {
    font-size: 15px;
  }
  .productOrdersContainer .contentParagraphOrder .pirceProductOrder .priceProduct {
    font-size: 18px;
  }
}
.productOrderAside .ordersContainerAside {
  padding: 20px;
  width: 25%;
  border: 2px solid #A8AFD3;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #A8AFD3;
  background: white;
  position: fixed;
  height: 90vh;
  top: 90px;
  right: 0;
  text-align: center;
}
.productOrderAside .ordersContainerAside .titleOrderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.productOrderAside .ordersContainerAside .titleOrderContent .symbolCLose {
  background: rgba(0, 0, 0, 0.596);
  color: white;
  font-weight: bold;
  border-radius: 90px;
  width: 30px;
  padding: 5px;
  box-shadow: 0px 0px 7px black;
  cursor: pointer;
}
.productOrderAside .ordersContainerAside .containerMiniCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 80%;
}
.productOrderAside .ordersContainerAside .footerAside .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.productOrderAside .ordersContainerAside .footerAside .total p {
  margin-left: 20px;
}
.productOrderAside .ordersContainerAside .footerAside .total h2 {
  margin-right: 20px;
  color: black;
  font-size: 22px;
}
.productOrderAside .ordersContainerAside .footerAside .buttonCheckOut {
  background-color: black;
  color: white;
  border-radius: 8px;
  width: 90%;
  padding: 6px;
  margin: auto;
  cursor: pointer;
}
.productOrderAside .inactiveDitail {
  display: none;
}

@media (max-width: 1300px) {
  .productOrderAside .ordersContainerAside {
    width: 40%;
    height: 80vh;
  }
}
@media (max-width: 668px) {
  .productOrderAside .ordersContainerAside {
    width: 50%;
    height: 70vh;
  }
  .productOrderAside .ordersContainerAside .containerMiniCards {
    height: 60%;
  }
}
.containerHome {
  width: 100%;
  margin-top: 50px;
  position: relative;
  height: 100vh;
}
.containerHome .cardsContainer {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 80%;
  margin: auto;
  gap: 5px;
}

@media (max-width: 1238px) {
  .containerHome {
    margin-top: 20px;
  }
  .containerHome .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}
@media (max-width: 924px) {
  .containerHome {
    margin-top: 20px;
  }
  .containerHome .cardsContainer {
    padding: 20px;
    justify-content: space-around;
    margin: auto;
    gap: 0;
    grid-template-columns: 200px 200px;
  }
}
.myOrderContainer {
  width: 90%;
  padding: 10px;
  height: 80vh;
  margin-top: 3%;
  overflow: auto;
}
.myOrderContainer .titleMyOrder {
  display: flex;
  margin-bottom: 40px;
}
.myOrderContainer .titleMyOrder .arrow {
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 90px;
  width: 45px;
  text-align: center;
  border: none;
}
.myOrderContainer .titleMyOrder .arrow:hover {
  text-shadow: 0 0 10px skyblue;
  box-shadow: 0 0 5px skyblue;
}
.myOrderContainer .titleMyOrder .arrow:active {
  box-shadow: 0 0 5px red;
}
.myOrderContainer .titleMyOrder h1 {
  font-size: 25px;
  margin: auto;
}

.myOrdersContainer {
  margin-top: 60px;
  width: 500px;
  height: 80vh;
  padding: 10px;
}
.myOrdersContainer .titleMyOrders {
  text-align: center;
}
.myOrdersContainer .myOrdersContent {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
}
.myOrdersContainer .myOrdersContent .dateAndarticulos {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 10px;
  margin-left: 5px;
}
.myOrdersContainer .myOrdersContent .priceMyOrders {
  width: 60%;
  text-align: end;
  margin-right: 80px;
}
.myOrdersContainer .myOrdersContent .arrowBack {
  font-size: 40px;
  border: none;
  border-radius: 90px;
  padding: 0;
  width: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.myOrdersContainer .myOrdersContent .arrowBack:hover {
  box-shadow: 0 0 5px skyblue;
  font-size: 42px;
}
.myOrdersContainer .myOrdersContent .arrowBack:active {
  box-shadow: 0 0 5px red;
}

* {
  list-style: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 19px;
  color: #333;
  padding: 0;
  margin: 0;
}

.container {
  overflow: hidden;
  position: relative;
}
.container header {
  position: relative;
  background: #A8AFD3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container header .logo .titleLogo .ten {
  font-size: 40px;
  color: #EAFF75;
}
.container header .logo .titleLogo .den {
  font-size: 35px;
  color: #061152;
}
.container header .logo .titleLogo .cias {
  font-size: 30px;
  color: #c01f1f;
}
.container header .navContainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  width: 100%;
}
.container header .navContainer .menuContainer {
  display: flex;
  align-items: center;
  width: 90%;
}
.container header .navContainer .all p:active {
  border-bottom: 1px solid black;
}
.container header .imgContainer {
  margin: 0;
  position: relative;
  right: 3px;
}
.container header .imgContainer span {
  position: absolute;
  box-shadow: 0 0 5px rgba(8, 8, 0, 0.507);
  right: -10px;
  top: -5px;
  border-radius: 90px;
  padding: 3px;
  width: 25px;
  text-align: center;
  background-color: rgba(210, 105, 30, 0.414);
  color: rgba(0, 0, 0, 0.653);
}
.container .mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EDEDED;
}

@media (max-width: 1114px) {
  .menuContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 95px;
    height: auto;
    max-width: -moz-max-content;
    max-width: max-content;
    left: 0;
    z-index: 222;
    box-shadow: 5px 5px 15px;
  }
  .menuContainer .navContentLeft {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-wrap: nowrap;
  }
  .menuContainer .navContentLeft div {
    border-bottom: 1px solid grey;
    background-color: #d4d4d4;
    width: 400px;
    padding: 10px;
    transition: 0.3s all ease;
  }
  .menuContainer .navContentLeft div:hover {
    background-color: #A8AFD3;
  }
  .menuContainer .navContentLeft div p {
    text-align: start;
    font-size: 20px;
    margin-left: 30px;
  }
  .menuContainer .navContentRight {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
  }
  .menuContainer .navContentRight div {
    border-bottom: 1px solid grey;
    background-color: #d4d4d4;
    width: 400px;
    padding: 10px;
    transition: 0.3s all ease;
  }
  .menuContainer .navContentRight div:hover {
    background-color: #A8AFD3;
  }
  .menuContainer .navContentRight div p {
    text-align: start;
    font-size: 20px;
    margin-left: 30px;
  }
}/*# sourceMappingURL=index.css.map */