@use './scss/scss-Header/navContentLeft';
@use './scss/scss-Header/navContentRight';
@use './components/Main/pages/home/containerHome';
@use './components/Main/pages/MyOrder/myOrder';
@use './components/Main/pages/MyOrders/myOrders';

$color-black-text:#333;
$border:1px solid black;


*{
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 19px;
    color: $color-black-text;
    padding: 0;
    margin: 0;
    
}

.container{
    overflow: hidden;
    position: relative;
    header{
        position: relative;
        background: #A8AFD3  ;
      display: flex;
      align-items: center;
      justify-content: center;
        padding: 20px;


       
           .logo{
               
                .titleLogo{

                    .ten{
                        font-size: 40px;
                        color: #EAFF75;
                    }
                    .den{
                     font-size: 35px;
                     color: #061152 ;
                    }
                    .cias{
                     font-size: 30px;
                     color: #c01f1f ;
                    }
                }

           }
      
               
        .navContainer{
         
            display: flex;
            justify-content: space-around;
            margin: auto;
            align-items: center;
            width: 100%;

          
            .menuContainer{
                display: flex;
                align-items: center;
                width: auto;
               
                //@ navContentLeft
                //@ navContentRigh  
            }
       

            .all{

                p{

                    &:active{
                        border-bottom:1px solid black ;
                    }
                }
            }

        
        }

        .imgContainer{
            margin: 0;
            position: relative;
            right: 3px;
    
            span{
                position: absolute;
                box-shadow: 0 0 5px rgba(8, 8, 0, 0.507);
                right: -10px;
                top: -5px;
                border-radius: 90px;
                padding: 3px;
                width: 25px;
                text-align: center;
                background-color: rgba(210, 105, 30, 0.414);
                color:rgba(0, 0, 0, 0.653);
            }
        }
    }
    .mainContainer{

        display: flex;
        justify-content: center;
        align-items: center;
        background: #EDEDED;
        // @use containerhome
        // @use myOrder        
        // @use myOrders        
    }

}


@media (max-width:1114px) {
    .menuContainer{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 95px;
        height: auto;
        left: 0;
        z-index: 222;
        box-shadow: 5px 5px 15px;
        

        .navContentLeft{
            position:sticky;
            display: flex;
            flex-direction: column;
            gap: 0;
            div{
                border-bottom: 1px solid grey;
                background-color:#d4d4d4;
                width: 400px;
                padding: 10px;
                transition: 0.3s all ease;
                &:hover{
                    background-color: #A8AFD3;
                }
                p{
                    
                    text-align: start;
                    font-size: 20px;
                    margin-left:30px ;
                }
            }
            
        }
        .navContentRight{

            display: flex;
            flex-direction: column;
    
            gap: 0;
            div{
                border-bottom: 1px solid grey;
                background-color:#d4d4d4;
               width: 400px;
               padding: 10px;
               transition: 0.3s all ease;
               &:hover{
                   background-color: #A8AFD3;
               }
               p{
  
                 text-align: start;   
                font-size: 20px;
                margin-left: 30px;

            }
            }
        }
    
    }
 
}