.navContentLeft {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0;
  width: 80%;
  position: relative;
}
.navContentLeft li .navLink {
  text-decoration: none;
  color: #333;
}
.navContentLeft li .active {
  border-bottom: 2px solid black;
}

.navContentRight {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0;
  width: 80%;
}
.navContentRight li:nth-child(1) .navLink {
  border-bottom: none;
  color: gray;
}
.navContentRight li .navLink {
  text-decoration: none;
  color: #333;
}
.navContentRight li .active {
  border-bottom: 2px solid black;
}

.contentTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.contentTitle .containerTitle {
  margin-bottom: 25px;
}
.contentTitle .containerTitle h1 {
  font-size: 42px;
  margin: 0;
  text-align: center;
}
.contentTitle .containerTitle p {
  margin: 0;
  text-align: center;
}
.contentTitle .formContent {
  width: 50%;
}
.contentTitle .formContent .inputProducts {
  width: 100%;
  border-radius: 8px;
  padding: 5px;
}

.cardContent {
  justify-self: center;
  width: -moz-min-content;
  width: min-content;
  border-radius: 8px;
}
.cardContent .contentFigure {
  position: relative;
  width: -moz-min-content;
  width: min-content;
  margin: 0;
  border-radius: 8px;
}
.cardContent .contentFigure .typeProducts {
  border-radius: 8px;
  padding: 0 5px 0 5px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.999);
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: rgba(0, 0, 0, 0.823);
  background-color: rgba(255, 255, 255, 0.686);
}
.cardContent .contentFigure .addProducts {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: rgba(255, 255, 255, 0.686);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.999);
  padding: 5px;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}
.cardContent .contentFigure .addProducts li {
  color: white;
}
.cardContent .contentFigure .active {
  background-color: rgba(0, 0, 0, 0.608);
  color: white;
}
.cardContent .contentFigure .imgProducts {
  border-radius: 8px;
  width: 250px;
}
.cardContent .contentParagraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px;
}
.cardContent .contentParagraph .pirceProduct {
  font-weight: bold;
  font-size: 25px;
}

.productDitailAside .asideContainerDitail {
  width: 25%;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 5px;
  background: white;
  position: fixed;
  height: 100vh;
  top: 90px;
  right: 0;
  text-align: center;
}
.productDitailAside .asideContainerDitail .titleDitail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.productDitailAside .asideContainerDitail .titleDitail .symbolCLose {
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 90px;
  width: 30px;
  padding: 5px;
  box-shadow: 0px 0px 7px black;
  cursor: pointer;
}
.productDitailAside .asideContainerDitail .productDitailContainer {
  padding: 20px;
}
.productDitailAside .asideContainerDitail .productDitailContainer .figureContainerDitail {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.productDitailAside .asideContainerDitail .productDitailContainer .figureContainerDitail .imgProductsDitail {
  width: 100%;
  border-radius: 8px;
}
.productDitailAside .asideContainerDitail .productDitailContainer .contentParagraphDitail {
  display: flex;
  flex-direction: column;
}
.productDitailAside .asideContainerDitail .productDitailContainer .contentParagraphDitail .pirceProductDitail {
  font-weight: bold;
  text-align: start;
  font-size: 35px;
  margin: 15px 0 10px 0;
}
.productDitailAside .asideContainerDitail .productDitailContainer .contentParagraphDitail .nameProductDitail {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
.productDitailAside .asideContainerDitail .productDitailContainer .contentParagraphDitail .descriptionDitail {
  text-align: start;
  margin: 0;
}
.productDitailAside .inactiveDitail {
  display: none;
}

.containerHome {
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.containerHome .cardsContainer {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 80%;
  margin: auto;
  gap: 5px;
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 19px;
  color: #333;
}

.container header {
  border-bottom: 1px solid black;
}
.container header .navContainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  width: 80%;
}
.container header .navContainer .logo h1 {
  font-size: 30px;
}
.container header .navContainer .imgContainer {
  margin: 0;
  position: relative;
}
.container header .navContainer .imgContainer span {
  position: absolute;
  box-shadow: 0 0 5px rgba(8, 8, 0, 0.507);
  right: -10px;
  top: -5px;
  border-radius: 90px;
  padding: 3px;
  width: 25px;
  text-align: center;
  background-color: rgba(210, 105, 30, 0.414);
  color: rgba(0, 0, 0, 0.653);
}
.container .mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=index.css.map */