$color-black-text:#333;
$border:1px solid black;
.navContentLeft{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 90%;

    text-align: center;
 div{
    
    p{
      width: 100%;
    }
 }
  
}

@media (max-width:1527px ) {
    .navContentLeft {
      div{
        p{
            font-size: 13px;
        }
      }
}
}
